.draw {
  &-hint {
    top: 56px;
    right: 41px;
    width: 41px;
  }
  .sign-tube-img {
    margin-top: 120px;
    margin-bottom: 48px;
  }
  &-btn {
    cursor: pointer;
    width: 70.509%;
    &-img {
      width: 300px;
      height: 300px;
      transform: scaleX(-1);
    }
    &-box {
      width: 44px;
      top: 15px;
      right: 100px;
    }
  }
}
.intro {
  padding-top: 80px;
  padding-bottom: 160px;
  &-jp {
    width: 57.561%;
    padding-left: 36px;
    padding-bottom: 48px;
    border-bottom: 1px solid;
    &-img {
      width: 100%;
      height: 300px;
    }
    &-text {
      width: 100%;
      letter-spacing: 0.2rem;
    }
  }
  &-title {
    font-size: 96px;
    margin-top: 120px;
    width: 86px;
    line-height: 120%;
  }
  &-tw {
    width: 57.561%;
    top: 152px;
    right: 36px;
    position: absolute;
    &-text {
      width: 454px;
      letter-spacing: 0.2rem;
    }
  }
}

.notice {
  &-img {
    width: 526px;
    height: 530px;
  }
  .notice-hints {
    &-words {
      letter-spacing: 0.2rem;
    }
  }
}
.draw-modal {
  .modal-content {
    padding-bottom: 88px;
    border-radius: 48px;
  }
  &-yes-img {
    width: 100%;
    margin-top: 8px;
  }
  &-title {
    font-size: 120px;
    margin-top: -150px;
    margin-right: 100px;
  }
  &-close {
    width: 48px;
    height: 48px;
    margin-top: 48px;
    margin-left: 140px;
  }
  .pick-explain {
    font-size: 20px;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    font-weight: 700;
  }
  &-again {
    &-btn {
      width: 196px;
      cursor: pointer;
    }
    &-img {
      width: 120px;
      height: 120px;
      margin-top: 16px;
      margin-left: 38px;
    }
  }
}
.answer-title {
  font-size: 120px;
}

.rotate-180 {
  transform: scaleX(-1);
}
.vertical-text {
  writing-mode: vertical-rl; /* 由右到左直排 */
}
.fs-20 {
  font-size: 20px;
}

@media (max-width: 768px) {
  .draw {
    .sign-tube-img {
      margin: 0;
      width: 45.58404%;
    }
    &-btn {
      cursor: pointer;
      width: 100%;
      &-img {
        width: 34.188%;
        transform: scaleX(1);
      }
    }
  }
  .intro {
    padding-top: 40px;
    padding-bottom: 40px;
    &-jp {
      width: 100%;
      padding-left: 0;
      padding-bottom: 24px;
      border: 0;
    }
    &-tw {
      width: 100%;
      position: static;
      &-text {
        width: 100%;
        border-bottom: solid 1px;
      }
    }
  }
  .notice {
    &-img {
      width: 120px;
      height: 120px;
    }
  }
  .draw-modal {
    .modal-content {
      width: 100%;
      aspect-ratio: 2/1.5;
    }
    &-title {
      text-align: center;
      margin-top: 0;
      margin-right: 0;
      font-size: 48px;
    }
    .pick-explain {
      font-weight: 400;
    }
    &-again {
      &-btn {
        cursor: pointer;
      }
      &-img {
      width: 100px;
      height: 100px;
      margin-top: 0;
      margin-left: 0;
    }
    }
  }
  .answer-title {
    font-size: 16px;
  }
}
