.picks {
  &-img{
    width: 480px;
    height: 480px;
    opacity: 15%;
  }
  &-box {
    width: 124px;
    border: solid rgba(183, 183, 164, 1);
    border-width: 1px 4px;
    &-pick {
      border: solid rgba(183, 183, 164, 1);
      border-width: 0 1px;
    }
  }
  &-again-img{
    width: 306px;
  }
  &-again-btn{
    width: 100%;
    height: 65px;
    line-height: 1.5;
    letter-spacing: 0.2rem;
  }
  .mobile-img-other{
    width: 120px;
  }
}
@media (max-width: 768px) {
  .picks {
    &-zone{
      background: rgba(134, 102, 84, 0.1);
      height: 520px;
    }
    &-box {
      width: 35.32763%;
      height: 28px;
    }
    &-again-img{
      width: 28.49002%;
    }
  }

}