.nav {
  .active {
    font-weight: bolder;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  }
}
.member-menu {
  width: 166px;
}
.downNav {
  display: flex;
  justify-content: space-evenly;
}
.nav {
  z-index: 100;
}
@include media-breakpoint-down(md) {
  .nav,
  .footer {
    .logo-mb {
      width: 160px;
    }
    &-collapse {
      top: 76.18px;
      z-index: 100;
    }
  }
  .downNav {
    display: none;
  }
}
