.member-menu {
  width: 166px;
}
.downNav {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .nav,
  .footer {
    .logo-mb {
      width: 160px;
    }
    &-collapse {
      top: 76.18px;
      z-index: 100;
    }
  }
  .downNav {
    display: none;
  }
}
